* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    align-items: center;
}

td {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    text-align: center;    
}

