* {
    margin: 0;
    padding: 0;
    /* background-color: #000000; */
    /* color: #ffffff; */
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Source Code Pro', monospace; */
}

/* HEADER  ***************/

header {
	background-color: #84b4b1;
	color: #fff;
	text-align: center;	
	padding: 100px 0;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 10px;
}

#patricia-title {
	border: 2px  #fff solid ;
	padding: 2px;
}

/* ******************* */


/* NAVIGATION */

ul > li.nav-item > a.nav-link {
	color: #84b4b1;
	cursor: pointer;
}

ul > li.nav-item > a.nav-link:hover {
	color: #436462;
	cursor: pointer;
}

#about {
	color: #3c615e;
	display: none;
}


a.left
{
    position: relative;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #436462;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.left:hover:before {
	visibility: visible;
	width: 100%;
  }


/* *********************** */

img.img-thumbnail {
	border-radius: 50%;
	width: 200px;
	height: 200px;
}
.container {
    margin-top: 50px;
}

.paragraph > p {
	margin: -5px;
}

.paragraph {
	margin: 0 20%;
}

header > p {
	margin: -5px;
}

.welcomeVisitor {
	background-color: #84b4b1;
	width: 100%;
	border-radius: 20px;
	text-align: center;
}

.u-hover {
	cursor: pointer;
}

.u-hover:hover {
	color: #1208a1;
}

button.btn-blue {
	border: 2px solid #84b4b1;
	color: #84b4b1;
	background-color: none;
}

button.btn-blue:hover {
	border: 2px solid #84b4b1;
	color: white;
	background-color: #84b4b1;
}

.filterDiv {
	float: left;
	display: none; /* Hidden by default */
}

.show {
	display: block;
}

#visitorName {
	cursor: pointer;
}

/* Popup container - can be anything you want */
.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
	from {opacity: 0;} 
	to {opacity: 1;}
  }
  
  @keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
  }

  

a.btn.all-button {
    color: #343a40;
	/* border-color: #0A1044; */
	padding-top: 0;
	padding-bottom: 0;
}


.all-button:hover {
    color: #fff;
    background-color: #0A1044;
    border-color: #0A1044;
}
a.all-button:hover {
	color: #fff;

}
	
.forInstruction {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}
  
.forInstruction .instruction {
	visibility: hidden;
	width: 150px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -75px;
	opacity: 0;
	transition: opacity 0.3s;
	font-size: .9em
}
  
.forInstruction .instruction::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}
  
.forInstruction:hover .instruction {
	visibility: visible;
	opacity: 1;
}



.mini-capstone-img {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
	border-radius: 10px;
	background-color: #008CBA;
	
  }

  .overlay {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	
		
	
  }

  .img-gallery:hover .mini-capstone-img {
	opacity: 0.3;


  }
  
  .img-gallery:hover .overlay {
	opacity: 1;

  }

  .view {	
	color: #000000;
	font-size: 3em;
	padding: 0 10px;
	align-items: center;
  }

  footer {
	  background-color: #17a2b8	;

  }

  /* h3 {
	  color: #17a2b8;
  } */

/* FIND THE RIGHT BUTTON PRANK********************************** */
.dark-mode {
	background-color: black;
	color: white;
}

.sunshine-mode {
	background-color: yellow;
	color: black;
}

.gradiant-mode {
	background: rgb(63,94,251);
	background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
	color: black;
}

.blue-mode{
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(4,65,72,1) 3%, rgba(9,9,121,1) 22%, rgba(0,212,255,1) 72%, rgba(0,255,213,1) 100%);
}

.yellow-mode{
	background: rgb(34,193,195);
	background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.pink-mode{
	background: rgb(238,174,202);
	background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}


.cucumber-mode{
	background: rgb(238,174,202);
	background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,233,175,1) 100%);
}

.fresco-mode{
	background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
}


.sea-mode{
	background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

.lilly-mode {
	background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}

.cactus-mode{
	background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
}


button.btn-outline-info {
	padding: 0 10px;
	margin-bottom: 5px ;
}

a.btn-outline-info {
	padding: 0 10px;
}

	
/* ********************************************** */

