/* * {
    margin: 0;
    padding: 0;
} */

.container {
    /* margin-top: auto;  
    margin-bottom: auto; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh; */
}

.btn-design {
    border: none;
    /* padding: 14px 20px; */
    width: 50px;
    height: 50px;
    background-color: teal;
    color: black;
    margin: 3px;
    justify-content: space-around;
    cursor: pointer;
}

.inputText {
    width: 224px;
    margin: 3px;
    height: 50px;
}