<div class="video-container">
    <video loop>
      <source src="./assets/video/rain.mp4"  type="video/mp4">
    </video>
</div>



<div class="player-container">
   

    <!-- DEFAULT SOUND -->
    <audio class="song">
        <source src="./sounds/rain.mp3" />
    </audio>

    <!-- PLAY BUTTON -->
    <img src="./assets/svg/play.svg" class="play"></img>

    <!-- TRACK OUTLINE -->
    <svg class="track-outline" width="453" height="453" viewBox="0 0 453 453" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="226.5" cy="226.5" r="216.5" stroke="white" stroke-width="20"/>
        </svg>

    <!-- MOVING OUTLINE -->
    <svg class="moving-outline" width="453" height="453" viewBox="0 0 453 453" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="226.5" cy="226.5" r="216.5" stroke="#018EBA" stroke-width="20"/>
        </svg>
    
    <!-- REPLAY BUTTON -->
    <img src="./assets/svg/replay.svg" class="replay"></img>
    
    <h3 class="time-display">0:00</h3>   
</div>

<div class="sound-picker">
    <button class="btn btn-dark" data-sound="./assets/music/rain.mp3" data-video="./assets/video/rain.mp4" >
        <img src="./assets/svg/rain.svg" alt="">
    </button>
    
    <button class="btn btn-dark" data-sound="./assets/music/beach.mp3" data-video="./assets/video/beach.mp4">
        <img src="./assets/svg/beach.svg" alt="">
    </button>
</div>

<div class="time-select">
    
</div>
